<section>
  <div class="card FeaturedTextDiv <%= FeaturedImgIndex %>">
    <div class="sideWipeContainer">
      <div class="sideWipe1 leftSideWipe"></div>
    </div>
    <p class="FeatPgh hideDiv">
      <%= paragraph %>
    </p>
    <br>
    <a href="<%= link %>" class="btn btn-light hideDiv"><%= linkText %></a>
  </div>
</section>
