<section class="bottomBox">
  <div class="container-fluid bottomDiv">

    <div class="row">
      <div class="col-lg-6">
      </div>

      <div class="col-lg-4">
      </div>

      <div class="col-lg-2">
        © 2020 David John.
      </div>

    </div>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="index.js" charset="utf-8"></script>
</body>
</html>
