<section class="<%= pageClass %> lgContainerDiv">
  <div class="container-fluid noFilt lgContainerInit transition1">
    <div class="sideWipeContainer">
      <div class="sideWipe1 leftSideWipe"></div>
    </div>
    <%- quoteHTML %>
  </div>
</section>
