<section class="RevealCard <%= position %> hideDiv">
  <div class="container-fluid">

    <div class="verticalLine">
      <div class="vertWipe upVertWipe"></div>
    </div>

    <section class="cardSec">
      <div class="card Title">
        <div class="sideWipe1 leftSideWipe"></div>
        <h5 class="card-title"><%= cardTitle %></h5>
        <div class="sideWipe2 leftSideWipe"></div>
      </div>
      <div class="card Text">
        <i class="fas fa-plus"></i>
        <p class="card-text">
          <%= cardText %>
          <br>
          <br>
          <small>
            This element is something I made myself using some Bootstrap and a lot of custom CSS and JavaScript (you can see more if you search the css, js and html files for "RevealCard".
            <a href="https://github.com/DavidJohnnnn/My-Own-Website" class="btn btn-outline-info btn-sm" role="button" aria-pressed="true">Check out the repo</a>
            <br>
            <br>
            Press this section again to close.
          </small>
        </p>
      </div>
    </section>
    <div class="verticalLine2">
      <div class="vertWipe downVertWipe"></div>
    </div>

  </div>
</section>
