<section class="TwoColSec">
  <div class="container-fluid">
    <div class="card-group">
      <div class="card ColSide">
        <div class="card-body">
          <p class="card-text LeftColSide"><%= LeftColSideText %></p>
        </div>
      </div>
      <div class="card ColSide">
        <div class="card-body">
          <p class="card-text RightColSide">
            <%= RightColSideText1 %>
            <br>
            <br>
            <%= RightColSideText2 %>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
