//##################################################//
// Unique Div: RevealCard Div //
//##################################################//

$sideWipeSpeed: all 7000ms cubic-bezier(0.210, 0.635, 0.470, 1.010);
$vertWipeSpeed: all 4000ms cubic-bezier(0.210, 0.635, 0.470, 1.010);
$generalCardSpeed: all 2000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
@mixin sideWipe {
  height: 6px;
  top: 0;
  width: 25%;
  position: absolute;
  margin: 0;
  background-color: $PrimaryColor;
  overflow: hidden;
  transition: $sideWipeSpeed;
}
@mixin vertLine {
  background-color: $mainBlack;
  position: relative;
  height: 300px;
  width: 10px;
  top: 0;
  margin: auto;
  overflow: hidden;
}


.RevealCard {
  overflow-x: hidden;
  margin-top: 25px;
  margin-bottom: 25px;

  .Title {
    overflow: hidden;
  }
  .sideWipe1 {
    @include sideWipe;
  }
  .sideWipe2 {
    @include sideWipe;
  }
  .leftSideWipe {
    transition: all 0ms cubic-bezier(0.210, 0.635, 0.470, 1.010);
    left: -27%;
  }
  .rightSideWipe {
    transition: $sideWipeSpeed;
    left: 126%;
  }
  .vertWipe {
    height: 300px;
    width: 5px;
    position: relative;
    margin: 0;
    background-color: $PrimaryColor;
  }
  .upVertWipe {
    transition: all 0ms cubic-bezier(0.210, 0.635, 0.470, 1.010);
    top: -300px;
  }
  .downVertWipe {
    transition: $vertWipeSpeed;
    top: 600px;
  }
  .upVertWipe1 {
    transition: $vertWipeSpeed;
    top: -300px;
  }
  .downVertWipe1 {
    transition: all 0ms cubic-bezier(0.210, 0.635, 0.470, 1.010);
    top: 600px;
  }
  .verticalLine {
    @include vertLine;
  }
  .verticalLine2 {
    @include vertLine;
  }

  .container-fluid {
    margin: 9% auto;  // top/bottom right/left
    width: 60%;
    transition: $generalCardSpeed;

    .card {
      border: 0;
      border-top: 10px solid $mainBlack;
      transition: $generalCardSpeed;
    }

    .card-title {
      padding: 10px 0;
      margin: 0;
      max-height: auto;
      color: $mainBlack;
      background-color: $mainWhite;
      font-size: 9.375rem;
      font-weight: 100;
      text-shadow: 2px 2px $PrimaryColor;
      transition: $generalCardSpeed;
    }

    .card.Text {
      max-height: 1000px;
      color: $mainWhite;
      background-color: $PrimaryColor;
    }

    .card {
      .fas.fa-plus {
        padding: 10px 0;
        font-size: 1rem;
        overflow: hidden;
        max-height: 10000px;
        transition: $generalCardSpeed;
      }
      .fas.fa-plus.plusHide {
        max-height: 0;
        padding: 0;
        font-size: 0;
        background-color: $mainWhite;
        border-bottom: 0 solid $mainBlack;
      }
      .card-text.textReveal {
        max-height: 1000px;
        padding: 25px 20px;
        color: $mainBlack;
        background-color: $mainWhite;
        border-bottom: 10px solid $mainBlack;
      }
      .card-text {
        max-height: 0;
        padding: 0 20px;
        font-size: 1.45rem;
        overflow: hidden;
        text-align: left;
        transition: $generalCardSpeed;

        small {
          display: block;
          font-size: 0.9rem;
          line-height: 1.75;
        }
        .btn {
          font-size: 0.8rem;
        }
      }
    }
  }
  .cardSec:hover .card-title {
    color: $PrimaryColor;
    text-shadow:
      2px 2px $mainBlack,
      3px 3px $mainBlack,
      4px 4px $mainBlack;
  }
  .container {
    @media (max-width: 1199px) {
      .card-title {
        font-size: 8.375rem;
      }
      .card {
        .fas.fa-plus {
          font-size: 1rem;
        }
        .card-text {
          font-size: 1.35rem;
        }
      }
    }
    @media (max-width: 991px) {
      .card-title {
        font-size: 7.375rem;
      }
      .card {
        .fas.fa-plus {
          font-size: 0.8rem;
        }
        .card-text {
          font-size: 1.3rem;
        }
      }
    }
    @media (max-width: 767px) {
      .card-title {
        font-size: 5.375rem;
      }
      .card {
        .fas.fa-plus {
          font-size: 0.65rem;
        }
        .card-text {
          font-size: 1.2rem;
        }
      }
    }
    @media (max-width: 575px) {
      .card-title {
        font-size: 4.375rem;
      }
      .card {
        .fas.fa-plus {
          font-size: 0.5rem;
        }
        .card-text {
          font-size: 1.1rem;
        }
      }
    }
  }
}
